@media (max-width: 767px) {

    .top {
        padding-left: 16px;
        padding-right: 16px;

        &__info {
            padding-left: 1px;
            padding-top: 239px;
            display: flex;
            flex-direction: row;
            box-sizing: border-box;
            justify-content: space-around;
        }

        &__title {
            font-size: 32px;
            text-align: center;
        }

        &__text {
            display: none;
        }

        &__text_mob {
            position: absolute;
            top: 374px;
            color: $color-text;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 22px;
            /* 157.143% */
            text-align: center;

            &_highlighter {
                font-weight: 700;
            }
        }
    }

    .bottom {
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 128px;
        height: 1221px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        flex-wrap: wrap;
        box-sizing: border-box;

        &__link {
            width: 333px;
            padding-left: 12px;

        }
    }

    .game1 {
        padding-left: 16px;
        padding-right: 16px;
        height: 654px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__advert1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            -moz-column-gap: 32px;
            column-gap: 32px;
            justify-content: center;

            &_title {
                top: 2297px;
                font-size: 32px;
                text-align: center;
            }

            &_text {
                display: none;
            }
            &_mob {
                    position: absolute;
                    top: 2378px;
                    color: $color-text;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 22px;
                    /* 157.143% */
                    text-align: center;
                }

            &_button {
                position: absolute;
                top: 2505px;
            }
        }


        &__advert2 {
            width: 344px;
            height: 236px;
            flex-shrink: 0;
        }
    }
    .game2 {
        padding-left: 16px;
        padding-right: 16px;
        height: 654px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        &__advert_1 {
            width: 344px;
            height: 231px;
            flex-shrink: 0;
            position: absolute;
            top: 3193px;
        }
        &__advert_2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            -moz-column-gap: 32px;
            column-gap: 32px;
            justify-content: center;
    
            &_title {
                top: 2944px;
                font-size: 32px;
                text-align: center;
            }
    
            &_text {
                display: none;
            }
            &_mob {
                    position: absolute;
                    top: 3004px;
                    color: $color-text;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 22px;
                    /* 157.143% */
                    text-align: center;
                }
    
            &_button {
                position: absolute;
                top: 3100px;
                left: 68px;
            }
        }
    }
}


