@import 'vars';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

.center {
    padding-left: calc(50% - 720px);
    padding-right: calc(50% - 720px);
}

a {
    text-decoration: none;
}

.top {
    position: relative;
    height: 1024px;
    flex-shrink: 0;
    background-image: url(img/top_picture.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 120px;
        padding-top: 217px;
        box-sizing: border-box;
    }

    &__title {
        position: absolute;
        color: $color-text;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }


    &__text {
        position: absolute;
        top: 374px;
        color: $color-text;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;

        &_highlighter {
            font-weight: 700;
        }
    }

    &__button {
        width: 234.063px;
        height: 48.603px;
        flex-shrink: 0;
        border-radius: 30px;
        background: #9C0332;
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: absolute;
        top: 482px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &:hover {
            background: #EB443F;
        }
    }
}

.bottom {
    height: 556px;
    flex-shrink: 0;
    background: #000915;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;

    &__link {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding-left: 32px;
        color: $color-text;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        /* 133.333% */
        width: 379px;
        height: 300px;
        flex-shrink: 0;
        border-radius: 16px;
        background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;


        &_picture_1 {
            background-image: url(img/picture_1.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

        }

        &_picture_2 {
            background-image: url(img/picture_2.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &_picture_3 {
            background-image: url(img/picture_3.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &:hover {
            border-radius: 16px;
            border: 3px solid #44D2FF;
            background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
        }
    }
}

.game1 {
    height: 800px;
    background: #000915;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    &__advert1 {
        width: 584px;
        height: 235px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        column-gap: 32px;

        &_title {
            color: $color-text;
            position: absolute;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        &_text {
            top: 1953px;
            position: absolute;
            color: $color-text;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 32px;
            /* 177.778% */
        }

        &_button {
            position: absolute;
            top: 2049px;
            width: 234.063px;
            height: 48.603px;
            flex-shrink: 0;
            border-radius: 30px;
            background: #9C0332;
            color: $color-text;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;


            &:hover {
                background: #EB443F;
            }
        }
    }

    &__advert2 {
        width: 485px;
        height: 333px;
        background-image: url(img/game4.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

.game2 {
    height: 800px;
    background: #000915;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    &__advert_1 {
        width: 481px;
        height: 322px;
        background-image: url(img/game5.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__advert_2 {
        width: 588px;
        height: 236px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        column-gap: 32px;

        &_title {
            color: $color-text;
            position: absolute;
            top: 2664px;
            left: 2032px;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        &_text {
            top: 2753px;
            left: 2032px;
            position: absolute;
            color: $color-text;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 32px;
            /* 177.778% */
        }
        &_mob{
            display: none;
        }

        &_button {
            position: absolute;
            top: 2849px;
            left: 2032px;
            width: 240px;
            height: 48.603px;
            flex-shrink: 0;
            border-radius: 30px;
            background: #9C0332;
            color: $color-text;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;


            &:hover {
                background: #EB443F;
            }
        }
    }


}

@import 'mobile';